<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TSPieView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DDEA7A851CC1E1A100557589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDEA7A9E1CC1E1A100557589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DDEA7AA91CC1E1A100557589</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
